<%- include("header", {title: title}) %>

<h1 class="my-2"><%- title %></h1>
<hr />

<div class="my-4 d-flex flex-column gap-3">
  <p><%- category.description %></p>
</div>

<hr>

<a href=<%- `/category/${category._id}/delete` %> >Delete Category</a>
<a href=<%- `/category/${category._id}/update` %> >Update Category</a>

<%- include("footer") %>
